<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat Code Coverage">
				<Configuration>
					<Format>Cobertura</Format>
					<CodeCoverage>
						<ModulePaths>
							<Exclude>
								<ModulePath>fluentvalidation.*</ModulePath>
								<ModulePath>moq.*</ModulePath>
								<ModulePath>xunit.*</ModulePath>
								<!-- Add more ModulePath nodes here. -->
							</Exclude>
						</ModulePaths>
					</CodeCoverage>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>
